<html>
    <head><meta charset="UTF-8"></head>
   <body>
      <h2>Access to environment aws</h2>
      <p><img alt="aws" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/1920px-Amazon_Web_Services_Logo.svg.png" title="aws" width="51" /></p>
      <p>Congratulations, you've received permissions to access the environment.</p>
      <p>Access https://aws.amazon.com/</p>
      <p><b>Account ID or alias:</b> my_organization_account_id</p>
      <p><b>IAM user name:</b> {email_user}</p>
      <p><b>Password:</b> {email_password}</p>
      <p>--------------------------</p>
      <p><b>Access Key:</b> {access_key}</p>
      <p><b>Secret Key:</b> {secret_key}</p>
      <p>Further information access: <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users.html">AWS User Guide</a>.</p>
   </body>
</html>